@*<div class="category-style-one sidebar-padd mar-1">
    <div class="inner-title">
        <h3>Kategoriler</h3>
    </div>
    
    <ul class="list">
        <li><a href="#" class="clearfix"><span class="float-left">Yazılım</span><span class="float-lg-right">(8)</span></a></li>
    </ul>

</div>*@















<div class="widget-sidebar">
    <h5 class="sidebar-title">Kategoriler</h5>
    <div class="sidebar-content">
        <ul class="list-sidebar">
            <li><a href="#" class="clearfix"><span class="float-left">Yazılım</span><span class="float-lg-right">(8)</span></a></li>
            <li><a href="#" class="clearfix"><span class="float-left">Yazılım</span><span class="float-lg-right">(8)</span></a></li>
            <li><a href="#" class="clearfix"><span class="float-left">Yazılım</span><span class="float-lg-right">(8)</span></a></li>
            <li><a href="#" class="clearfix"><span class="float-left">Yazılım</span><span class="float-lg-right">(8)</span></a></li>
        </ul>
    </div>
</div>
